<!doctype html>
<html lang="br">
    <head>
        <title>Intranet!</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../bootstrap/cssPersonalizado.css">
    </head>
    <body>
        <div class="container">
            <div class="row margem">
                <form class="form-horizontal" action="#" method="POST">
                    <fieldset>

                        <!-- Form Name -->
                        <legend><a href="../index.jsp"><span class="glyphicon glyphicon-chevron-left"></span> Voltar </a>| Recuperação de Senha</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="nome">Confirme seu Nome</label>  
                            <div class="col-md-4">
                                <input id="nome" name="nome" type="text" placeholder="Fulano da silva" OnKeyUp="ehNome();" maxlength="60"  class="form-control input-md" required="">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email">Email cadastrado</label>  
                            <div class="col-md-4">
                                <input id="email" name="email" type="text" placeholder="exemplo@dominio.com" OnKeyUp="ehEmail();" maxlength="80"  class="form-control input-md" required="">

                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="dnasc">Data de nascimento</label>  
                            <div class="col-md-4">
                                <input id="dnasc" name="dnasc" type="date" placeholder="dd-mm-aaaa" maxlength="10" OnKeyUp="formatar(this, '##-##-####');" class="form-control input-md" required="">

                            </div>
                        </div>
                        <!--Fim -->
                    </fieldset>
                    <div class="centro">
                        <input id="enviar" type="submit" class="btn btn-primary btn-primary" value="Enviar" />
                        <input type="reset"  class="btn btn-primary btn-primary" value="Resetar" />
                    </div>
                </form>
            </div>    
        </div>
        <!-- JavaScript -->
        <!-- jQuery first,then Bootstrap JS -->
        <script src="../bootstrap/js/jquery.min.js"></script>
        <script src="../bootstrap/js/bootstrap.js"></script>
    </body>
</html>
