<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>verificaLogin</servlet-name>
        <servlet-class>control.verificaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlunoDados</servlet-name>
        <servlet-class>control.AlunoDados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaAluno</servlet-name>
        <servlet-class>control.EditaAluno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verificaLogin</servlet-name>
        <url-pattern>/verificaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlunoDados</servlet-name>
        <url-pattern>/AlunoDados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditaAluno</servlet-name>
        <url-pattern>/EditaAluno</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
